<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            opacity: 0;
            transition: opacity 2s;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Analytic Dashboard</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<!-- Navigation Bar -->
<section class="navbar">
    <div>
        <a href="/analytics" class="logo">
            <img src="~/image/logo.png" alt="MainLogo" />
        </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
    </label>
    <ul class="menu">
        <li><a href="/analytics">Cart</a></li>
        <li><a href="/analytics">Profile</a></li>
        <li><a href="/analytics">Home</a></li>
        <li><a href="/analytics">Analytic</a></li>
        <li><a href="/analytics">Products</a></li>
        <li><a href="~/html/Charts.html">Charts</a></li>
    </ul>
</section>

<!-- Body Code Start -->

<body onload="document.body.style.opacity='1'">
    <!-- Welcome message -->
    <div class="section1">
        <center>
            <h1>Welcome to Your Dashboard</h1>
        </center>
    </div>

    <!-- flex container / square tiles -->
    <div class="section2">
        <div class="flex-container">
            <div class="flex-item">
                <div class="flex-title">Today's Sales Total</div>
                <div class="flex-value">Placeholder</div>
            </div>
            <div class="flex-item">
                <div class="flex-title">Today's View Total</div>
                <div class="flex-value">Placeholder</div>
            </div>
            <div class="flex-item">
                <div class="flex-title">Total Lifetime Sales</div>
                <div class="flex-value">Placeholder</div>
            </div>
            <div class="flex-item">
                <div class="flex-title">Average Satisfaction</div>
                <div class="flex-value">Placeholder</div>
            </div>
        </div>
    </div>

    <!-- product table -->
    <div class="section3">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Product List</th>
                    <th>Today's Sales</th>
                    <th>Today's Views</th>
                    <th>Product Price</th>
                    <th>Additional Information</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Data will be inserted here from javascript -->
            </tbody>
        </table>
    </div>

    <script src="~/js/script.js"></script>
</body>

</html>
